<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo List app</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

   <script type="text/x-handlebars" data-template-name="todos/index">
      <ul id="todo-list"> 
        {{#each todo in model itemController="todo"}}
          <li {{bind-attr class="todo.isCompleted:completed todo.isEditing:editing"}}>
            {{#if todo.isEditing}}
              {{edit-todo class="edit" value=todo.title focus-out="acceptChanges" insert-newline="acceptChanges"}}
            {{else}}
              {{input type="checkbox" checked=todo.isCompleted class="toggle"}}
              <label {{action "editTodo" on="doubleClick"}}>{{todo.title}}</label><button {{action "removeTodo"}} class="destroy"></button>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </script>

  	<script type="text/x-handlebars" data-template-name="todos">
    <section id="todoapp">
      <header id="header">
        <h1>Todo app</h1>
        {{input type="text" id="new-todo" placeholder="Unesi zadatak" value=newTitle action="createTodo"}}
      </header>

      <section id="main">
        {{outlet}}
        {{input type="checkbox" id="toggle-all" checked=allAreDone}}
      </section>

      <footer id="footer">
        <span id="todo-count">
          <strong>{{remaining}}</strong> {{inflection}} left
      </span>
        <ul id="filters">
          <li>
             {{#link-to "todos" activeClass="selected"}}All{{/link-to}}
          </li>
          <li>
            {{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}
          </li>
          <li>
            {{#link-to "todos.completed" activeClass="selected"}}Completed{{/link-to}}
          </li>
        </ul>

        {{#if hasCompleted}}
        <button id="clear-completed" {{action "clearCompleted"}}>
          Clear completed {{completed}}
        </button>
        {{/if}}
      </footer>
    </section>

    <footer id="info">
      <p>Todo app</p>
    </footer>

	</script>

	<!-- ... Javascript includes ... -->
	<script src="js/libs/jquery-1.11.2.min.js"></script>
	<script src="js/libs/handlebars-v1.3.0"></script>
	<script src="js/libs/ember.js"></script>
	<script src="js/libs/ember-data.js"></script>
  <script src="js/libs/localstorage_adapter.js"></script>
	<script src="js/app.js"></script>
	<script src="js/router.js"></script>
	<script src="js/models/todo.js"></script>
  <script src="js/controllers/todos_controller.js"></script>
  <script src="js/controllers/todo_controller.js"></script>
  <script src="js/views/edit_todo_view.js"></script>

	</body>
</html>